.jcarousel-skin-embedagram .jcarousel-container {
}

.jcarousel-skin-embedagram .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-embedagram .jcarousel-container-horizontal {
    width: 900px;
    padding: 20px 40px;
    height: 120px;
    left: 0;
    right: 0;
}

.jcarousel-skin-embedagram .jcarousel-container-vertical {
    width: 100px;
    padding: 40px 20px;
}

.jcarousel-skin-embedagram .jcarousel-clip-horizontal {
    width:  820px;
    height: 100px;
}

.jcarousel-skin-embedagram .jcarousel-clip-vertical {
    width:  100px;
    height: 320px;
}

.jcarousel-skin-embedagram .jcarousel-item {
    width: 100px;
    height: 100px;
}

.jcarousel-skin-embedagram .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-embedagram .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-embedagram .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-embedagram .jcarousel-item-placeholder {
    background: rgba(0, 0, 0, 0);
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-embedagram .jcarousel-next-horizontal {
    position: absolute;
    top: 53px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-embedagram .jcarousel-container {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid #e8e8e8;
}

.jcarousel-skin-embedagram .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-embedagram .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-embedagram .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-embedagram .jcarousel-next-disabled-horizontal,
.jcarousel-skin-embedagram .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-embedagram .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-embedagram .jcarousel-prev-horizontal {
    position: absolute;
    top: 53px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-embedagram .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-embedagram .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-embedagram .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-embedagram .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-embedagram .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-embedagram .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-embedagram .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-embedagram .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-embedagram .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-embedagram .jcarousel-next-disabled-vertical,
.jcarousel-skin-embedagram .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-embedagram .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-embedagram .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-embedagram .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-embedagram .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-embedagram .jcarousel-prev-disabled-vertical,
.jcarousel-skin-embedagram .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-embedagram .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}


