body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background-color: white;
	color: black;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	background: white;
}

.green {
	background-color: #9FFFA8;
}

.yellow {
	background-color: #F3EA87;
}

.blue {
	background-color: #74BCE8;
}

.red {
	background-color: #F3795C;
}

#unityPlayer {
	width: 360px;
	margin: 0 auto;
	position: relative;
}

#unityPlayer.loaded {
	opacity: 1;
	display: block !important;
}
a:link, a:visited {
	color: inherit;
	text-decoration: none;
	cursor: auto;
	border-bottom: dashed 1px;
}
a.noDashed {
	border-bottom: 0px;
}
a:active, a:hover {
	color: inherit;
	text-decoration: none;
	cursor: auto;
}
p.header {
	height: 100px;
}

p.footer {
	font-size: x-small;
}
div.content {
	margin: auto;
	width: 360px;
}
div.broken,
div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}
div.broken a,
div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}
div.broken img,
div.missing img {
	border-width: 0px;
}
div.broken {
	display: none;
}

div#unityPlayer {
	cursor: default;
}

#header.minimized #logo > img {
	width: 50px;
	margin-right: 5px;
	margin-top: -10px;
}

#logo:hover {
	cursor: pointer;
}

#logo > img {
	position: relative;
	pointer-events: none;
	width: 70px;
	top: 30px;
	left: -20px;
	height: auto;
	-webkit-transition: width 0.2s;
	transition: width 0.2s;

}

#logo #logoJ  {
	margin-left: -20px;
	-webkit-animation: logoJ 0.5s alternate infinite;
	animation: logoJ 0.5s alternate infinite;
}

#logo #logoO {
	margin-left: -20px;
	-webkit-animation: logoO 0.5s alternate infinite;
	animation: logoO 0.5s alternate infinite;
}

#logo #logoT {
	margin-left: -20px;
	-webkit-animation: logoT 0.5s alternate infinite;
	animation: logoT 0.5s alternate infinite;
}

#logo #logoO2 {
	margin-left: -25px;
	-webkit-animation: logoOO 0.5s alternate infinite;
	animation: logoOO 0.5s alternate infinite;
}

#logo #logoK {
	margin-left: -20px;
	-webkit-transform-origin: 100% 100%;
	-webkit-animation: logoK 0.5s alternate infinite;
	transform-origin: 100% 100%;
	animation: logoK 0.5s alternate infinite;
}

#logo #logoO3 {
	margin-left: -30px;
	-webkit-animation: logoOOO 0.5s alternate infinite;
	animation: logoOOO 0.5s alternate infinite;
}


#button {
	position: relative;
	z-index: 100;
	-webkit-transition: top 1s linear;
	transition: top 1s linear;
	width: 160px;
	height: 160px;
	opacity: 0;
	margin: 0 auto;
	top: -160px;
}

#button.visible {
	opacity: 1;
	top: 0px;
}

#button.clicked img {
	-webkit-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
}

#buttonBackground {
	-webkit-origin: 50% 50%;
	-webkit-transform: scale(1, 1);
	origin: 50% 50%;
	transform: scale(1, 1);
}

#button img {
	position: absolute;
	left: 0px;
	pointer-events:none;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
}

#playButton {
	margin-left: 35px;
	top: 30px;
	-webkit-origin: 50% 50%;
	-webkit-animation: scaleAnimation 1s alternate infinite;
	origin: 50% 50%;
	animation: scaleAnimation 1s alternate infinite;
}

#header {
	width: 100%;
	height: 160px;
	position: fixed;
	top: 0px;
	background: #F05A28;//rgb(253, 255, 253);
	z-index: 10000;
}


#header.minimized {
	transition: all 0.2s ease-out;
	height: 120px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

#header.minimized li {
	transition: all 0.2s ease-out;
	width: 80px;
    height: 80px;
}


#header.minimized p {
	transition: all 0.2s ease-out;
	padding: 35px 0;
	font-size: 8px;
}

#header.minimized .ch-item {
	box-shadow: 
        inset 0 0 0 5px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
}

#header.minimized .ch-item:hover {
	box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
}

#header > div > div {
	height: 100%;
	display: inline;
	float: left;
}

#header > div {
	height: 100%;
}

#mainContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	height: 100%;
}

#container > div, #mainPage > div, #header > div {
	max-width: 1000px;
	min-width: 1000px;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: relative;
}


#container {
	margin-top: 160px;
	min-height: 600px;
	background-color: white;
}

#container > div {
	width: 100%;
	min-height: 700px;
}

#footer {
	height: 120px;
}

@-webkit-keyframes scaleAnimation
{
	from {-webkit-transform: scale(0.95, 0.95);}
	to {-webkit-transform: scale(1, 1);}
}

@keyframes scaleAnimation
{
	from {transform: scale(0.95, 0.95);}
	to {transform: scale(1, 1);}
}

.mainPost {
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 5px;
    float: right;
    margin-right: 20px;
}

.ch-item {
	cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 
        inset 0 0 0 10px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


.ch-img-1 { 
    background-image: url(../img/team.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: 100%;

}
 
.ch-img-2 { 
    background-image: url(../img/news.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: 140%;
}
 
.ch-img-3 { 
    background-image: url(../img/media.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: 100%;
}

.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    pointer-events: none;
}

.ch-info p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0 10px;
    padding: 53px 0 0 0;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info  p:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}

.w75100 {
	width: 65%;
}

.w25100 {
	width: 35%;
}

#strip1 {
	background-image: url("../img/cactusFull.png");
	background-position: 25.0% -18%;
	background-size: 30%;
	background-repeat: no-repeat;
}

#strip2 {
	
}

.interactiveStrip.active .fake {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.interactiveStrip.active .real {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.interactiveStrip.right.active .fake {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.interactiveStrip.right.active .real {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.interactiveStrip .fake {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.interactiveStrip .real {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.interactiveStrip.right .real {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.interactiveStrip > div {
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

#strip2 .fake {
	width: 100%;
	height: 100%;
	background-image: url("../img/cactusFull.png");
	background-position: 25% 30%;
	background-size: 30%;
	background-repeat: no-repeat;
	position: absolute;
}

#strip2 .real {
	background-image: url("../img/bonsaiFull.png");
	background-position: 10.8% 46%;
	background-size: 55%;
	background-repeat: no-repeat;
	height: 300px;
}

#strip3 {
	
}

#strip3 .fake {
	width: 100%;
	height: 100%;
	background-image: url("../img/cactusFull.png");
	background-position: 25% 78%;
	background-size: 30%;
	background-repeat: no-repeat;
	position: absolute;
}

#strip3 .real {
	width: 100%;
	height: 100%;
	background-image: url("../img/youngFull.png");
	background-position: 10.7% 61%;
	background-size: 51%;
	background-repeat: no-repeat;
}

#strip4 .fake {
	width: 100%;
	height: 100%;
	background-image: url("../img/cactusFull.png");
	background-position: 25% 126%;
	background-size: 30%;
	background-repeat: no-repeat;
	position: absolute;
}


#strip4 .real {
	background-image: url("../img/bonsaiFull.png");
	background-position: 6.8% 120%;
	background-size: 59%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.vpadding {
	padding-top: 20px;
	padding-bottom: 20px;
}

.icon-overlay {
	box-shadow: 
        inset 0 0 0 5px rgba(255,255, 255, 0.4);
	
    border-radius: 50%;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.icon-overlay:hover {
	box-shadow: 
        inset 0 0 0 50px rgba(255,255, 255, 0.4);
}

.facebookColor {
	color: #4A66A0;
}

.twitterColor {
	color: #29A9E1;
}

.instagramColor {
	color: #4A799E;
}

.pinterestColor {
	color: #CD2027;
}

.tumblrColor {
	color: #33506B;
}	

.googlePlusColor {
	color: #DD4C38;
}

.clickable:hover {
	cursor: pointer;
}

#infoText {
	top: 300px;
	color: white;
	font-size: 35px;
	position: fixed !important;
	z-index: 100000;
	padding-left: 200px;
	height: 100px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#streepsLogo {

}

#streepsLogo > img {
	width: 400px;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	-webkit-animation: upAndDown 1s alternate infinite;
	animation: upAndDown 1s alternate infinite;
}
#bee {
	width: 50px;
	height: 50px;
	top: 400px;
	left: -700px;
	position: absolute !important;
}

#bee img {
	width: 20px;
	height: auto;
}

#birdHouse {
	width: 50px;
	height: 50px; 
	top: 0px;
	position: absolute !important;
}

#birdHouse img {
	width: 100px;
	height: auto;
	left: 275px;
	top: 180px;
	position: absolute;
	-webkit-transform-origin-y: -10%;
	-webkit-animation: idleRotation 1s alternate infinite ease-in-out;
	transform-origin-y: -10%;
	animation: idleRotation 1s alternate infinite ease-in-out;
}

#hive {
	width: 50px;
	height: 50px;
	top: 0px;
	position: absolute !important;
}

#hive img {
	width: 90px;
	height: auto;
	top: 100px;
	left: 90px;
	position: absolute;
	-webkit-transform-origin-y: -10%;
	-webkit-animation: idleRotationSubtle 2s alternate infinite ease-in-out;
	transform-origin-y: -10%;
	animation: idleRotationSubtle 2s alternate infinite ease-in-out;
}

#face {
	width: 50px;
	height: 50px;
	top: 0px;
	position: absolute !important;
	-webkit-animation: upAndDownSubtle 0.4s alternate infinite;
	animation: upAndDownSubtle 0.4s alternate infinite;
}

#faceCactus {
	width: 50px;
	height: 50px;
	top: 0px;
	position: absolute !important;
}

#faceCactus img {
	width: 100px;
	top: 58px;
	left: 275px;
	position: absolute;
	height: auto;
	-webkit-animation: idleScale 0.5s alternate infinite;
	animation: idleScale 0.5s alternate infinite;
}

#maracaLeft {
	top: 0px;
	position: absolute !important;
}

#maracaRight {
	top: 0px;
	position: absolute !important;
}

#maracaLeft img {
	position: absolute;
	width: 90px;
	left: 176px;
	top: 15px;
	height: auto;
	-webkit-transform-origin: 100% 100%;
	-webkit-animation: maracaShakeLeft 0.5s alternate infinite;
	transform-origin: 100% 100%;
	animation: maracaShakeLeft 0.5s alternate infinite;
}

#maracaRight img {
	width: 90px;
	left: 380px;
	top: 15px;
	position: absolute;
	height: auto;
	-webkit-transform-origin: 0% 100%;
	-webkit-animation: maracaShakeRight 0.5s alternate infinite;
	transform-origin: 0% 100%;
	animation: maracaShakeRight 0.5s alternate infinite;
}

#face #mouth {
	width: 170px;
	top: 30px;
	left: 240px;
	height: auto;
}

#face #eyes {
	width: 140px;
	left: 255px;
	top: 70px;
	height: auto;
}

#face > img {
	position: absolute;
}

#sun {
	width: 50px;
	height: 0px;
	top: 20px;
	right: 420px;
	position: absolute !important;
	left: 500px;
	-webkit-animation: upAndDown 2s alternate infinite;
	animation: upAndDown 2s alternate infinite;
}

#sunInner {
	width: 100px;
	height: 100px;
	top: 800px;
	position: absolute !important;
	left: 45px;
	top: 60px;
}

#sunOutter {
	margin: 0 auto;
	width: 140px;
	height: 140px;
	top: 40px;
	left: 25px;
	position: absolute !important;
	-webkit-animation: idleScale 2s alternate infinite;
	animation: idleScale 2s alternate infinite;
}

@-webkit-keyframes upAndDown
{
	from {
		-webkit-transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(10px);
	}
}

@keyframes upAndDown
{
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(10px);
	}
}

@-webkit-keyframes upAndDownSubtle
{
	from {
		-webkit-transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(2px);
	}
}

@keyframes upAndDownSubtle
{
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(2px);
	}
}

@-webkit-keyframes idleRotation
{
	from {
		-webkit-transform: rotateZ(-5deg);
	}
	to {
		-webkit-transform: rotateZ(5deg);
	}
}

@keyframes idleRotation
{
	from {
		transform: rotateZ(-5deg);
	}
	to {
		transform: rotateZ(5deg);
	}
}


@-webkit-keyframes idleRotationSubtle
{
	from {
		-webkit-transform: rotateZ(-4deg);
	}
	to {
		-webkit-transform: rotateZ(4deg);
	}
}

@keyframes idleRotationSubtle
{
	from {
		transform: rotateZ(-4deg);
	}
	to {
		transform: rotateZ(4deg);
	}
}

@-webkit-keyframes maracaShakeLeft
{
	from {
		-webkit-transform: rotateZ(4deg);
	}
	to {
		-webkit-transform: rotateZ(-4deg);
	}
}

@keyframes maracaShakeLeft
{
	from {
		transform: rotateZ(4deg);
	}
	to {
		transform: rotateZ(-4deg);
	}
}

@-webkit-keyframes maracaShakeRight
{
	from {
		-webkit-transform: rotateZ(-4deg);
	}
	to {
		-webkit-transform: rotateZ(4deg);
	}
}

@keyframes maracaShakeRight
{
	from {
		transform: rotateZ(-4deg);
	}
	to {
		transform: rotateZ(4deg);
	}
}

@-webkit-keyframes idleScale
{
	from {
		-webkit-transform: scale(1, 1);
	}
	to {
		-webkit-transform: scale(1.1, 1.1);
	}
}

@keyframes idleScale
{
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1.1, 1.1);
	}
}

@-webkit-keyframes logoJ
{
	from {
		-webkit-transform: translateY(0px) scale(1.12, 1.05);
	}
	to {
		-webkit-transform: translateY(5px) scale(1.15, 1);
	}
}

@keyframes logoJ
{
	from {
		transform: translateY(0px) scale(1.12, 1.05);
	}
	to {
		transform: translateY(5px) scale(1.15, 1);
	}
}

@-webkit-keyframes logoO
{
	from {
		-webkit-transform: scale(1.15, 1);
	}
	to {
		-webkit-transform: scale(1.12, 1.1);
	}
}

@keyframes logoO
{
	from {
		transform: scale(1.15, 1);
	}
	to {
		transform: scale(1.12, 1.1);
	}
}

@-webkit-keyframes logoT
{
	from {
		-webkit-transform: translateY(5px) scale(1.15, 1);
	}
	to {
		-webkit-transform: translateY(0px) scale(1.12, 1.05);
	}
}

@keyframes logoT
{
	from {
		transform: translateY(5px) scale(1.15, 1);
	}
	to {
		transform: translateY(0px) scale(1.12, 1.05);
	}
}

@-webkit-keyframes logoOO
{
	from {
		-webkit-transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(5px);
	}
}

@keyframes logoOO
{
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(5px);
	}
}

@-webkit-keyframes logoK
{
	from {
		-webkit-transform: translateY(0px) rotateZ(-2deg);
	}
	to {
		-webkit-transform: translateY(5px) rotateZ(2deg);
	}
}

@keyframes logoK
{
	from {
		transform: translateY(0px) rotateZ(-2deg);
	}
	to {
		transform: translateY(5px) rotateZ(2deg);
	}
}


@-webkit-keyframes logoOOO
{
	from {
		-webkit-transform: translateY(5px) scale(1, 1);
	}
	to {
		-webkit-transform: translateY(5px) scale(0.9, 0.9);
	}
}

@keyframes logoOOO
{
	from {
		transform: translateY(5px) scale(1, 1);
	}
	to {
		transform: translateY(5px) scale(0.9, 0.9);
	}
}

#twitter-widget-0 {
	width: 510px;
	height: 600px;
	margin-top: -4px;
	margin-bottom: 20px;
}


#jotokoDescription {
	padding-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.team .photo img {
	border-radius: 50% 50%;
	width: 120px;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.team .photo img:hover {
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.team {
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.clicked {
	-webkit-transform: scale(1.15, 1.15) !important;
	transform: scale(1.15, 1.15) !important;
}
 
.team:after,
.team:before {
    content: '';
    display: table;
}
 
.team:after {
    clear: both;
}

.team .description h3 {
	text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 16px;
    margin: 20px 10px 10px 10px;
    font-weight: 600;
}
 
.team li {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
    width: 220px;
    height: auto;
    display: inline-block;
    margin: 40px 20px 40px 20px;
}

._4s7c {
	border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
}

#newsPage, #goodiesPage {
	padding-top: 40px;
}

.page {
	font-size: 18px;
}

.instagramButton {
    float:right;
    margin-right: 26px;
    transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
}

span a {
	border-bottom: 0px !important;
}

#tumbo {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 20px;
}

.fb_iframe_widget iframe {
	border: 1px solid #DDDDDD !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#newsPage > span, .PIN_1382361102186_embed_board {
	width: 508px !important;
	margin-left: 4px !important;
}

.dashed {
	border-bottom: 1px dashed black;
}

#godis img {
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	top: 300px;
}

#godis .candy {
	cursor: pointer;
	-webkit-transform-origin-y: 200%;
	-webkit-transform: scale(1, 1) translateY(0px);
	-webkit-transition: -webkit-transform 1s;
	transform-origin-y: 200%;
	transform: scale(1, 1) translateY(0px);
	transition: transform 1s;
}

#godis .candy:hover {
	-webkit-transform-origin-y: 200%;
	-webkit-transform: scale(1.1, 1.1) translateY(-50px);
	transform-origin-y: 200%;
	transform: scale(1.1, 1.1) translateY(-50px);
}

#godis .shadow {
	margin-top: 130px;
}